ConfigUpdater==3.1.1
fillpdf==0.7.2
msal==1.24.0
Pillow==10.0.1
pyinstaller>=6.0.0
pystray==0.19.4
requests==2.31.0
selenium==4.12.0
tkinterdnd2==0.3.0
tufup @ git+https://github.com/dennisvang/tufup.git@master
urllib3==2.0.5